

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.properties {
    width:300px;
    float:left;
}

.property-list {
    padding-left:2em;
}

.graph {
    float:right;
}















