

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.properties {
    width:300px;
    float:left;
    padding-left:2em;
}

.properties ul {
    padding-left:0;
}

.property-list i {
    padding-right: 0.5em;
}

.graph {
    float:right;
}















